table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.rectangle-5 {
    background-color: rgba(0, 0, 0, 0.05000000074505806);
    border-radius: 24px;
    width: 336px;
    height: 31px;
}